//Color palette
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$rectangle-color: #161616;
$header-color: #ffffff;

//button color
$hover-btn-color: #ffe302;
$disable-btn-color: #b4b4b4;
$radio-btn-color: #00bdd3;

//text color
$text-color: #ffffff;

//boder input color
$border-input-color: #d0cfcf;

//screen size
$screen-lg-hd: 1920px;
$screen-xl: 1440px;
$screen-lg-lg: 1200px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs-medium: 410px;
$screen-xs-small: 360px;
