//Color palette
$primary-color: #f4e041;
$secondary-color: #00bdd3;
$background-color: #f8f8f8;
$rectangle-color: #161616;
$header-color: #ffffff;

//button color
$hover-btn-color: #ffe302;
$disable-btn-color: #b4b4b4;
$radio-btn-color: #00bdd3;

//text color
$text-color: #ffffff;

//boder input color
$border-input-color: #d0cfcf;
